@import '../../mixins.scss';

:host {

  .open {
    background-color: blue;
    color: white;
  }

  .closed {
    color: green;
  }

  .progress {
    color: yellow;
    background-color: black;
  }

  thead tr {
    td {
      color: lightcoral;
    }
  }
}
